{% extends "base.html" %}

{% block title %}
  <title>Homepage</title>
{% endblock %}

{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
  <h1>TODO list</h1>
  <a href="{% url 'todo:task-create' %}">Create</a>
  {% for task in task_list %}
  <ul>
    <li>{{ task.content }} {% if task.is_completed == True %} Done {% else %} Not Done {%endif %}</li>
    <li>Created: {{ task.created_at }}</li>
    {% for tag in task.tags.all %}
    <li>Tags: {{ tag }}</li>
    {% endfor %}
    <a href="{% url 'todo:task-update' task.pk %}">Update</a>
    <a href="{% url 'todo:task-delete' task.pk %}">Delete</a>
    <a href="{% url 'todo:toggle-complete' task.pk %}">BTN</a>

  </ul>
  {% endfor %}
{% endblock %}